@font-face {
  font-family: 'novitonovaregular';
  src: url('novitonova-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: novitonovaregular;
  color: rgba(27, 27, 27, 0.945);
  text-transform: uppercase;
  font-size: 30px;
}

*:focus {
  outline: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: url(./background.gif) no-repeat center center fixed; 
  background-size: cover;
}

#background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  -webkit-perspective: 1300px;
          perspective: 1300px;
  -webkit-perspective-origin: center;
          perspective-origin: center;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 438px;
}

.top-heading {
  font-size: 1.125rem;
  margin-top: 40px;
  margin-bottom: 5px;
  width: 177.61px;
}

.bottom-heading {
  font-size: 1.125rem;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 148.23px;
}

/* Background animation split */
.up {
  margin-bottom: 0;
  height: 438px; 
  background: url(./form.png) no-repeat center 0%;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -webkit-transform 0.6s ease-out;
  -o-transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.down {
  margin-top: 0;
  height: 438px; 
  background: url(./form.png) no-repeat center 100%;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: -webkit-transform 0.6s ease-out;
  transition: -webkit-transform 0.6s ease-out;
  -o-transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out;
  transition: transform 0.6s ease-out, -webkit-transform 0.6s ease-out;
}

.up-close {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.down-close {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}
.border-close{
  border-color: rgba(148, 148, 148, 0.35);
}
/* end of background animation split */

button {
  height: 60px;
  width: 180px;
  border-radius: 45%;
  border-color: rgba(27, 27, 27, 0.8);
  background-color: transparent;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Radio buttons */
#form-difficulty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 420px;
}

li > input {
  visibility:hidden;
  margin: 0;
  padding: 0;
  display: none;
}
li > label {
  cursor: pointer;
  margin: 0;
  width: 135px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:checked + label{
  font-weight: 600;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 10px 0 10px 0;
  width: 135px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#fight-monster-btn {
  display: block;
  margin: 10px 0 10px 0;
  width: 200px;
}

/* Fight Monster page */
.monster-name {
  font-size: 1.125rem;
  width: 200px;
  margin-top: 40px;
  margin-bottom: 5px;
}

.player {
  font-size: 1.125rem;
  width: 200px;
  margin-top: 40px;
  margin-bottom: 5px;
}

input {
  display: block;
  width: 200px;
  border: 0;
  border-bottom: 2px solid;
  background-color: transparent;
  text-align: center;
  margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

progress {
  border: rgba(17, 18, 18);
  border-style: solid;
  border-width: 2px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 260px;
}
progress::-webkit-progress-bar {
  background-color: transparent;
  padding: 1px;
}
progress::-webkit-progress-value {
  background-color: rgba(17, 18, 18);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

label {
  display: block;
  width: 200px;
  text-align: center;
  margin-top: 20px;
}

select {
  display: block;
  height: 40px;
  width: 200px;
  text-align: center;
  margin-bottom: 80px;
  border: 0;
  border-bottom: 2px solid;
  background-color: transparent;
}

.fight-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  width: 280px;
}

.fight-btn {
  height: 60px;
  width: 120px;
  border-radius: 45%;
  border-color: rgba(27, 27, 27, 0.8);
  background-color: transparent;
  font-size: 1rem;
  margin: 10px 10px 10px 10px;
}

.heal {
  width: 100%;
  margin-top: -150px;
}

#retry-btn {
  margin-top: 80px;
}

#home-btn {
  margin-top: 30px;
}

/* Notifications */
.notification{  
  position: fixed;
  top: 0px;
  width: 100%;
  height: 0;
  color: white;  
  text-align: center;
  background: rgba(27, 27, 27, 0.8);
  overflow: hidden;
  z-index: 1;
  -webkit-transition: height .2s;
  -o-transition: height .2s;
  transition: height .2s;
}

#notificationType{
  display: inline-block;
  margin: 25px;
}

.active{  
  height: auto;
}

.notificationText{
  color: rgba(224, 224, 216);
}

@-moz-document url-prefix() {
  * {font-size:28px;}
}

/* Media queries */
@media only screen and (max-width: 420px) {
  #form-difficulty {
    width: 100%;
  }
  li > label {
    width: 100px;
  }
  li {
    width: 100px;
  }
}